@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Simple application to plan Sacrament Meeting. (Now only 1 hour long!)</p>
