@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    BYU-Idaho<br />
    Rexburg, ID 83460<br />
    <abbr title="Phone">P:</abbr>
    208.496.1411
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@byui.edu</a><br />
</address>
